doctype html
html
  head
    title Machi
    script(type='text/javascript',src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js')
    script(type='application/javascript',src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    script(type='text/javascript',src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js')
    script(src="/socket.io/socket.io.js")
    script(src="http://maps.google.com/maps/api/js?sensor=false")
    script(type='text/javascript',src='/js/room.js')
    script(type='text/javascript',src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js')
    link(rel='stylesheet',href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css')
  body
    #content
      .container_fluid
        .row
          h1.page-header.col-md-offset-2 待ち合わせ
            .small for WEB
        .row
          .col-md-8.col-md-offset-2.col-xs-12
            input.form-control#username(type="text",placeholder="Username")
        .row
          .col-md-8.col-md-offset-2.col-xs-12
            input.form-control#aikotoba(type="text",placeholder="AIKOTOBA")
        .row
          .col-md-8.col-md-offset-2.col-xs-12
            input.form-control#lat(type="text",value=36,placeholder="latitude")
        .row
          .col-md-8.col-md-offset-2.col-xs-12
            input.form-control#long(type="text",value=139,placeholder="longitude")
        .row
          .col-md-8.col-md-offset-2.col-xs-12
            input.btn.btn-primary#join(type="submit",value="join")
        .row
          .col-md-8.col-md-offset-2.col-xs-12
            input.btn.btn-primary#update(type="submit",value="update")
        .row
          .col-md-8.col-md-offset-2.col-xs-12
            div#map_canvas(style="width:500px;height:500px")
